<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 align="center">Change Password</h1>

    <center>
        <a href="/Welcome_Dashboard">Dashboard</a> &nbsp;
        <a href="/change_password">Change Password</a>&nbsp;
        <a href="/logout">Logout</a>
 </center>


    <form action="/change_password" method="post" align="center">
      Enter Old Password <input type="password" name="oldpass" required><br><br>
      Enter New Password <input type="password" name="newpass" required><br><br>
      Enter Confirm Password <input type="password" name="confpass" required><br><br>
      <button>Change Password</button>
    </form>

    <% if(locals.message)
    {%>
           <h2 align="center"><%=message%></h2>
    <%}%>

    <% if(locals.message2)
    {%>
           <a href="/logout"><%=message2%></a>
    <%}%>

   
</body>
</html>