<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/my.css">
    <script src="../static/js/abc.js"></script>
    <style>
           .chd 
           {
               color:red;
               background-color: black;
               padding: 10px;
               text-align: center;
           }
    </style>
</head>
<body>
      <h1 style="text-align: center;color: red;">Welcome To Node Js</h1>
      <h1 class="chd">Testing</h1>
      <h1 class="Test">Chandigarh</h1>
      <button onclick="Zirakpur()">Click Me</button>
    <%- include('common/nav') %>
</body>
</html>