<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
           <%- include('common/nav') %>
           <br><br>
            <h1 align="center">Control Panel</h1>
            <br>
            <center>
            <form action="/login" method="post">
                Email-Id <input type="email" name="email" required placeholder="Enter Email-Id"> <br><br>
                Password <input type="password" required name="password" placeholder="Enter Password"><br><br>
                <button>Login</button>
             </form>
             <br>
            
             <a href="/signup">Create An Account?</a>
             <br>
             <%if(locals.message)
             {%>
                  <h3 style="color:red;"><%=message%></h3>
             <%}%>
             </center>
</body>
</html>