<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
       <h1 align="center">Enter The Details of Indian Person</h1> <br>
       <%- include('common/nav') %>
       <form action="/record_registartion" method="post" align="center">
        Enter Name <input type="text" name="name" required><br><br>
        Adhar Card <input type="number" name="adhr" required><br><br>
        Address <textarea name="address" required></textarea><br><br>
        <button>Save</button>
       </form>

       <% if(locals.message)
       { %>
            <h2><%=message%></h2>
       <%}%>
</body>
</html>