<center>
    <a href="/">Home</a>
    <a href="/ram">About us</a>
    <a href="/zirakpur">Contact us</a>
    <a href="/findsum">Addition Application</a>
    <a href="/subtract">Subtraction App</a>
    <a href="/multi">Multiple App</a>
    <a href="/Test">Boostrap Testing</a>
    <a href="/Testing">Boostrap Testing 2</a>
    <a href="/record_registartion">Add Record</a>
    <a href="/display_record">Display Record</a>
    <a href="/find_Record">Search Record</a>
    <a href="/student_add">Add Students</a>
    <a href="/student_display">Student Records</a>
    <a href="/login">Login</a>
    <a href="/signup">New user?</a>
  </center>